@using UnikeyFactoryTest.Presentation.Models.DTO
@model UnikeyFactoryTest.Presentation.Models.DTO.QuestionDto

@{
    ViewBag.Title = "EditQuestionsAsync";
}

<div class="container">
    @using (Html.BeginForm("SaveUpdateQuestion", "Test", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Edit Question</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TestId)
            @Html.HiddenFor(model => model.Position)

            <div class="form-group">
                <b>@Html.Label("Question Text:", new { @class = "control-label col-md-12" })</b>
                <div class="col-md-12" style="text-align:center">
                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control", style = "max-width: 100%;width: 100%; border-radius: 5px; border: 1px solid black;", @rows = 5 })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <h2>Edit Answer</h2>

        for (int i = 0; i < Model.Answers.Count; i++)
        {

            @Html.HiddenFor(model => model.Answers[i].Id)
            @Html.HiddenFor(model => model.Answers[i].QuestionId)

            <hr />
            <div class="form-group">
                <h4>Answer @i</h4>
                <b>@Html.Label("Answer Text:", htmlAttributes: new { @class = "control-label col-md-12" })</b>
                <div class="col-md-12" style="text-align:center">
                    @Html.TextAreaFor(model => Model.Answers[i].Text, new { @class = "form-control", style = "max-width: 100%;width: 100%; border-radius: 5px; border: 1px solid black;", @rows = 5 })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4" style="margin-top:7px">
                    <b>@Html.Label("Check if it's the correct answer:", new { @class = "control-label col-md-12" })</b>
                </div>
                <div class="col-8">
                    @Html.EditorFor(model => Model.Answers[i].IsCorrectBool, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2" style="margin-top:7px">
                    <b>@Html.Label("Answer Score:", new { @class = "control-label col-md-12" })</b>
                </div>
                <div class="col-10">
                    @Html.TextBoxFor(model => Model.Answers[i].Score, new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group" style="text-align:right">
            <button type="submit" class="btn btn-info" id="checkout" title="Save">Update Question</button>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "TestContent", new { Id = Model.TestId})
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
