@using UnikeyFactoryTest.Presentation.Models.DTO
@model UnikeyFactoryTest.Presentation.Models.DTO.TestLigthDto

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<style>
    #buttonCreate {
        margin-left: 83%;
        margin-top: 2px;
    }

    .class-mymarginleft {
        margin-left: 5px;
    }

    #class-textBox {
        max-width: 100%;
        width: 100%;
        margin-top: 5px;
    }

    #myDivContainerDown {
        margin-top: 10px;
    }

    .class-selected {
        border: 2px solid limegreen
    }
</style>

<script>
    function CorrectAnswer(id, idchk, idtxt, idbtn) {
        var isChecked = document.getElementById(id).checked
        if (isChecked == true) {
            document.getElementById(idchk).classList.add("class-selected");
            document.getElementById(idtxt).hidden = false;
            document.getElementById(idbtn).disabled = false;

        }
        else {
            document.getElementById(idchk).classList.remove("class-selected");
            document.getElementById(idtxt).hidden = true;
            document.getElementById(idbtn).disabled = "disabled";

        }
    }


    function EnableDiv(id) {
        document.getElementById(id).hidden = false;
    }

    function ShowAddQuestionPartial(){
            $("#mydivQuestionForm").load('@Url.Action("GetAddQuestionPartial", "Test",Model)');
            console.log("ShowAddQuestionPartial activated");

        }

    function UnloadAddQuestionPartial() {
        $("#mydivQuestionForm").unload('@Url.Action("GetAddQuestionPartial", "Test", Convert.ToInt32(Model.Id))');

    }

    function emptyPartialView() {

        $("#mydivQuestionForm").empty();

    }
    function modalOpen() {
        $('#myModal').modal('show');

    }
    function modalBack() {
        $('#myModal').modal('hide');

    }
    function modalYes() {

        $('#myModal').modal('hide');

        emptyPartialView();

    }
    function DoneBtn() {
        alert("The test has been saved");
    }

</script>

@using (Html.BeginForm("AddTest", "Test", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
<div class="form-group" id="myDivContainerTop" style="width: 50%; margin-left: 25%">

    @{
        if (Model.ShowForm == false)
        {
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "class-textBox", placeholder = "TestName" })
            @Html.ValidationMessageFor(x => x.Title,"",new {@class = "text-danger"})

            
            @Html.TextBoxFor(x => x.Date, new { @class = "form-control", id = "class-textBox", placeholder = "Date", disabled = "disabled" })

            <button class="btn btn-primary" id="buttonCreate" style="margin-left: 45%; margin-top: 10px" >
                Create
            </button>
        }
        if (Model.ShowForm == true)
        {
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "class-textBox", placeholder = "TestName", disabled="disabled" })
            @Html.ValidationMessageFor(x => x.Title,"",new {@class = "text-danger"})

            
            @Html.TextBoxFor(x => x.Date, new { @class = "form-control", id = "class-textBox", placeholder = "Date", disabled = "disabled" })

            <button class="btn btn-primary" id="buttonCreate" disabled style="margin-left: 45%; margin-top: 10px" >
                Create
            </button>
        }

    }
</div>


}

@if (Model != null)
{
    if (Model.ShowForm == true)
    {
        <div class="container" id="myDivContainerDown">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" id="divList" style="text-align:center;">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                QuestionText
                            </th>
                            <th>
                                <i class="fa fa-plus btn " onclick="ShowAddQuestionPartial()" title="Add question"></i>
                            </th>
                        </tr>

                        @foreach (var Question in Model.Questions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Question.Text)
                                </td>

                                <td>
                                    <a href="@Url.Action("DeleteQuestion", "Test", Question)">
                                        <i class="fa fa-trash btn" title="Delete"></i> |
                                    </a>
                                    <a href="@Url.Action("QuestionDetails", "Test", Question)">
                                        <i class="fa fa-edit btn" title="Details"></i>
                                    </a>

                                </td>
                            </tr>
                        }


                    </table>

                    <a href="@Url.Action("TestsList", "Test", new { PageNumber = 1, PageSize = 10 })" onclick="DoneBtn()">
                        <i class="fa fa-check btn btn-outline-success" id="doneBtn" style="color: green">Done</i>
                    </a>

                </div>
                @if (Model.isValid == true)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6" id="mydivQuestionForm">

                    </div>
                }
                @if (Model.isValid == false)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6" id="mydivQuestionForm">
                        @{
                            var myModel = new QuestionDto();
                            myModel.TestId = Model.Id;
                        }
                        @Html.Partial("AddQuestionPartial", myModel)
                    </div>
                }
            </div>
        </div>
    }
}



<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to go back?
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="modalYes()">Yes</button>
                    <button type="button" class="btn btn-primary" onclick="modalBack()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>