@using UnikeyFactoryTest.Presentation.Models.DTO
@model UnikeyFactoryTest.Presentation.Models.DTO.TestDto

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
<style>
    #buttonCreate {
        margin-left: 83%;
        margin-top: 2px;
    }

    .class-mymarginleft {
        margin-left: 5px;
    }

    #class-textBox {
        max-width: 100%;
        width: 100%;
        margin-top: 5px;
    }

    #myDivContainerDown {
        margin-top: 10px;
    }

    .class-selected {
        border: 2px solid limegreen
    }
</style>

<script>
    function CorrectAnswer(id, idchk, idtxt) {
        var isChecked = document.getElementById(id).checked
        if (isChecked == true) {
            document.getElementById(idchk).classList.add("class-selected");
            document.getElementById(idtxt).hidden = false;
        }
        else {
            document.getElementById(idchk).classList.remove("class-selected");
            document.getElementById(idtxt).hidden = true;
        }
    }

    function EnableDiv(id) {
        document.getElementById(id).hidden = false;
    }

    //function DisabledButtonCreate(id, idbtn) {
    //    document.getElementById(id).removeAttribute("hidden");
    //    document.getElementById(idbtn).setAttribute("disabled");


    //}



    function UnloadAddQuestionPartial() {
        $("#mydivQuestionForm").unload('@Url.Action("GetAddQuestionPartial", "Test",Model)');
    }
 

    function ShowAddQuestionPartial() {
        $("#mydivQuestionForm").load('@Url.Action("GetAddQuestionPartial", "Test",Model)');

    }

    function emptyPartialView() {
        
        $("#mydivQuestionForm").empty();

    }

    function modalOpen() {
        $('#myModal').modal('show');

    }

    function modalBack() {
        $('#myModal').modal('hide');

    }

    function modalYes() {

        $('#myModal').modal('hide');

        emptyPartialView();

    }


</script>

@using (Html.BeginForm("AddTest", "Test", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="col-lg-6 col-md-6 col-sm-6" id="myDivContainerTop">
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "class-textBox", placeholder = "TestName" })
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", id = "class-textBox", placeholder = "Date", disabled = "disabled" })
        @if (Model.ShowForm)
        {
            <button class="btn btn-primary" id="buttonCreate"  disabled>Create</button>
        }
        @if (!Model.ShowForm)
        {
            <button class="btn btn-primary" id="buttonCreate">Create</button>
        }
            
        
    </div>
}

@if (Model != null)
{
    <div class="container" id="myDivContainerDown">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" id="divList" style="text-align:center;">
                <table class="table">
                    <tr>
                        <th>
                            QuestionText
                        </th>
                        <th>
                            <i class="fa fa-plus btn " onclick="ShowAddQuestionPartial()" title="Add question"></i>
                        </th>
                    </tr>

                    @foreach (var Question in Model.Questions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Question.Text)
                            </td>

                            <td>
                                <i class="fa fa-trash btn" title="Delete"></i> |
                                <i class="fa fa-edit btn" title="Details"></i>

                                @*@Html.ActionLink("Delete", "DeleteQuestion", "Test", new { Id = Question.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Test", new { Id = Question.Id }, null) *@
                            </td>
                        </tr>
                    }


                </table>
                <i class="fa fa-check btn" id="doneBtn" style="color: green" title="Done"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"  id="mydivQuestionForm">
    
            </div>
        </div>
    </div>
}


<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to go back?
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="modalYes()">Yes</button>
                    <button type="button" class="btn btn-primary" onclick="modalBack()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>