@using UnikeyFactoryTest.Domain.Enums
@using UnikeyFactoryTest.Presentation.Models.DTO
@model  UnikeyFactoryTest.Presentation.Models.DTO.TestDto

@{
    ViewBag.Title = "AdministratedTestContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test @Model.Id</h2>
<a title="Go Back" href='@Url.Action("TestsList", "Test", new {Model.PageNumber, Model.PageSize})'><img id="backIcon" src="~/Content/ICONS/goBackIcon.png" alt="goBack"></a>
@*<h2>@Model.Title</h2>*@
<hr />
<br />
<div id="testContentStats">
    <label><strong>Number of questions: @Model.Questions.Count</strong></label> |
    <label><strong>Max Score: @Model.MaxScore</strong></label>
</div>

<div class="container col-8">

    @{
        int i = 1;

        foreach (QuestionDto question in Model.Questions)
        {
            <div class="row testContentRow">
                <div>
                        <div>
                            <strong>Domanda @i</strong>
                            <div>
                                @using (Html.BeginForm("EditQuestionsAsync",
                                    "Test",
                                    new QuestionEditModel
                                    {
                                        Id = question.Id,
                                        Text = question.Text,
                                        TestId = question.TestId,
                                        CorrectAnswerScore = question.CorrectAnswerScore,
                                        Position = question.Position
                                    },
                                    FormMethod.Post,
                                    null
                                    ))
                                {
                                    <input type="submit" class="btn-info"
                                       id="editIcon"
                                       title="Edit"
                                       src="~/Content/ICONS/editIcon.png" alt="submit" />
                                }
                            </div>
                            
                            </div>
                    <hr />
                    <p>@question.Text</p>
                </div>
            </div>
            <br>
            <form>
                @foreach (AnswerDto answer in question.Answers)
                {
                    {
                        Html.RenderPartial("AnswerPartial", answer);
                    }
                }
            </form>
            <br>
            ++i;
        }
    }
</div>