@model UnikeyFactoryTest.Presentation.Models.DTO.TestDto

<tr>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Date
    </td>
    <td>
        @Model.URL
    </td>
    <td>
        @Model.AdministratedTests.Count
    </td>
    <td>
    </td>
    <td>
        <div>
            @Html.ActionLink(
                linkText: "Content",
                actionName: "TestContent",
                controllerName: "Test",
                routeValues: new { @Model.Id, @Model.PageNumber, @Model.PageSize },
                htmlAttributes: new { @class = "btn btn-info" }) |
            <button class="btn btn-info" onclick="deleteConfirmation(@Model.Id, @Model.PageNumber, @Model.PageSize)">Delete</button> 
            <button class="btn btn-info" onclick="getDetailsTablePartial()">
                Details
            </button>
        </div>
    </td>

</tr>

@*<script type="text/javascript">
    $('.modal-content').resizable({
        //alsoResize: ".modal-dialog",
        minHeight: 300,
        minWidth: 300
    });
    $('.modal-dialog').draggable();

    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

</script>*@

<style>
    .modal-body {
        overflow: auto;
    }
</style>

