@model UnikeyFactoryTest.Presentation.Models.Dto.TestDto

<tr>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Date
    </td>
    <td>
        @Model.URL
    </td>
    <td>
        @Model.AdministratedTests.Count
    </td>
    <td>
    </td>
    <td>
        <div>
            @Html.ActionLink(
                "Content",
                "TestContent",
                "Test",
                new { @Model.Id, @Model.PageNumber, @Model.PageSize },
                new { @class = "btn btn-info" }) |
            <button class="btn btn-info" onclick="deleteConfirmation(@Model.Id, @Model.PageNumber, @Model.PageSize)">Delete</button> 
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                Details
            </button> |
        </div>
    </td>

</tr>

<script type="text/javascript">
    $('.modal-content').resizable({
        //alsoResize: ".modal-dialog",
        minHeight: 300,
        minWidth: 300
    });
    $('.modal-dialog').draggable();

    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

</script>

<style>
    .modal-body {
        overflow: auto;
    }
</style>

