@using UnikeyFactoryTest.Domain.Enums
@using UnikeyFactoryTest.Presentation.Models.DTO
@model  UnikeyFactoryTest.Presentation.Models.DTO.TestDto

@{
    ViewBag.Title = "AdministratedTestContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test @Model.Title</h2>
<a title="Go Back" href='@Url.Action("TestsList", "Test", new {Model.PageNumber, Model.PageSize, Model.TextFilter})'><img id="backIcon" src="~/Content/ICONS/goBackIcon.png" alt="goBack"></a>
@*<h2>@Model.Title</h2>*@
<hr />
<br />
<div id="testContentStats">
    <label><strong>Number of questions: @Model.Questions.Count</strong></label> |
    <label><strong>Max Score: @Model.MaxScore</strong></label>
</div>

<div class="container col-8">

    @{
        int i = 1;

        foreach (QuestionDto question in Model.Questions.OrderBy(q => q.Position))
        {
            <div class="row testContentRow">
                <div>
                    <div id="divQuestionForm">
                        <strong>Domanda @i</strong>
                        <div>
                            @using (Html.BeginForm("EditQuestionsAsync",
                                "Test",
                                question,
                                FormMethod.Post,
                                new { id = "questionForm" }
                                ))
                            {

                                <link href="~/Content/font-awesome.css" rel="stylesheet" />
                                <button id="editIcon" type="submit" class="fa fa-pencil" onclick="showLoadingSpinner()"></button>
                                <a id="delIcolink" title="Delete" onclick="showLoadingSpinner()" href='@Url.Action("DeleteQuestion",
                                                                                                           "Test",
                                                                                                           new {TestId=question.TestId,
                                                                                                               PageNumber = @Model.PageNumber,
                                                                                                               PageSize = @Model.PageSize,
                                                                                                               Id = question.Id,
                                                                                                               Text = question.Text,
                                                                                                               Position = question.Position
                                                                                                           })'><img id="deleteIcon" src="~/Content/ICONS/deleteIcon.png" alt="delete"></a>
                            }
                        </div>

                    </div>
                    <strong>Max Score: @question.Answers.Where(a => a.IsCorrectBool).Sum(a => a.Score)</strong>
                    <hr />
                    <p>@question.Text</p>
                </div>
            </div>
            <br>
            <form>
                @foreach (AnswerDto answer in question.Answers)
                {
                    {
                        Html.RenderPartial("AnswerPartial", answer);
                    }
                }
            </form>
            <br>
            ++i;
        }
    }
</div>