@model UnikeyFactoryTest.Presentation.Models.Dto.TestDto

<tr>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Date
    </td>
    <td>
        @Model.URL
    </td>
    <td>
        @Model.NumQuestions
    </td>
    <td>
    @Html.ActionLink(
        "Content",
        "TestContent",
        "Test",
        new { @Model.Id, @Model.PageNumber, @Model.PageSize },
        new { @class = "btn btn-info" }) |
    <button class="btn btn-info" onclick="deleteConfirmation(@Model.Id, @Model.PageNumber, @Model.PageSize)">Delete</button> |

    <button type="button" value="@Model.Id" class="btn btn-info" data-toggle="modal" data-target="#mailModal" id="ID">Send</button>

</tr>

