@using UnikeyFactoryTest.Presentation.Models.DTO
@using UnikeyFactoryTest.Service
@model  UnikeyFactoryTest.Presentation.Models.TestsListModel

@{
    ViewBag.Title = "TestsList";
}

<h2>Tests List</h2>

<hr />

<div>
    <form action="@Url.Action("TextSearch", "Test")" method="post">
        <input id="textSearch" type="text" placeholder="@Model.TextFilter" name="textFilter" />
        <input type="submit" value="Filter" class="btn btn-info" />
    </form>
</div>

<div id="pageSizeDropDownList">
    @Html.Label("Elements per page")
    <select name="PageSizeSelection" onchange="resizePage(this.value, @Model.PageNumber, '/Test/TestsList?PageSize=');">
        <option value="@Model.PageSize" selected="selected">@Model.PageSize</option>
        @for (int i = 10; i <= 161; i *= 2)
        {
            if (Model.PageSize != i)
            {
                <option value="@i">@i</option>
            }

        }
    </select>
</div>

<table class="table">
    <tr>
        @*<th>Title</th>*@
        <th>Id</th>
        <th>Date</th>
        <th>URL</th>
        <th>Number of tests</th>
        <th>Number of tests opened</th>
        <th>Actions</th>
    </tr>
    <div id="myrender">

    </div>
    @foreach (var test in Model.Tests)
    {
        Html.RenderPartial("TestsTablePartial", test);
    }

</table>

<div>
        @if (Model.PageNumber > 1)
        {
            @Html.ActionLink(
                "Previous",
                "TestsList",
                "Test",
                new { PageNumber = Model.PageNumber - 1, Model.PageSize },
                new { @class = "btn btn-info" })
        }
        <label>@Model.PageNumber of @Model.LastPage</label>
        @if (@Model.PageNumber != @Model.LastPage)
        {
            @Html.ActionLink(
                "Next",
                "TestsList",
                "Test",
                new { PageNumber = Model.PageNumber + 1, Model.PageSize },
                new { @class = "btn btn-info" })
        }
    </div>

