
@using UnikeyFactoryTest.Domain.Enums
@using UnikeyFactoryTest.Presentation.Models.DTO
@model  UnikeyFactoryTest.Presentation.Models.DTO.TestDto

@{
    ViewBag.Title = "AdministratedTestContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<a title="Go Back" href='@Url.Action("TestsList", "Test", new {PageNumber=@Model.PageNumber, PageSize=@Model.PageSize})'><img id="backIcon" src="~/Content/ICONS/goBackIcon.png" alt="goBack"></a>
<hr />
<br />
<div id="testContentStats">
    <label><strong>Number of questions: @Model.Questions.Count</strong></label> |
    <label><strong>Max Score: @Model.MaxScore</strong></label>
</div>

<div class="container col-8">

    @{
        int i = 1;

        foreach (QuestionDto question in Model.Questions)
        {
            <div class="row testContentRow">
                <div>
                        <div>
                            <strong>Domanda @i</strong>
                            <a title="Edit" href='@Url.Action("EditQuestion",
                                                      "Test",
                                                      new {TestId=@Model.Id,
                                                          PageNumber = @Model.PageNumber,
                                                          PageSize = @Model.PageSize,
                                                          QuestionId = question.Id,
                                                          CorrectAnswerScore=question.Answers.Where(a => a.IsCorrect == AnswerState.Correct)
                                                              .Select(a => a.Score)})'><img id="editIcon" src="~/Content/ICONS/editIcon.png" alt="edit"></a>

                            <a title="Delete" href='@Url.Action("DeleteQuestion",
                                                      "Test",
                                                        new {TestId=question.TestId,
                                                            PageNumber = @Model.PageNumber,
                                                            PageSize = @Model.PageSize,
                                                            Id = question.Id,
                                                            Text = question.Text,
                                                            Position = question.Position
                                                        })'><img id="deleteIcon" src="~/Content/ICONS/deleteIcon.png" alt="delete"></a>
                        </div>
                    <hr />
                    <p>@question.Text</p>
                </div>
            </div>
            <br>
            <form>
                @foreach (AnswerDto answer in question.Answers)
                {
                    {
                        Html.RenderPartial("AnswerPartial", answer);
                    }
                }
            </form>
            <br>
            ++@i;
        }
    }
</div>