@using UnikeyFactoryTest.Presentation.Controllers
@model UnikeyFactoryTest.Presentation.Models.AdministratedTestModel
<img src="~/Logos/UnikeyLogo.png" class="logo" />
<div class="container" style="width:100%;">



    @{

        if (Model.Test != null)
        {
            <h2 class="Title">Assessment of @Model.Name @Model.Surname</h2>
            if (Model.Test.AdministratedQuestions != null)
            {
                using (Html.BeginForm("SaveTest", "ExTest"))
                {
                    <input type="hidden" value="@Model.URL" name="URL" />
                    <input type="hidden" name="admnistratedTestId" value="@Model.AdmnistratedTestId" />
                    <input type="hidden" name="URL" value="@Model.URL" />

                    <div class="QuestionContainer">
                        @{
                            if (String.IsNullOrEmpty(Model.Question.Text) != true)
                            {
                                <label id="Question">
                                    @Model.Question.Text
                                </label>
                                <hr />
                            }

                            <div class="AnswerContainer">
                                @{
                                    foreach (var answer in Model.Question.AdministratedAnswers)
                                    {
                                        <div class="answer" onclick="selected(@answer.Id);">
                                            <div class="form-check">
                                                <label class="AnswerLabel">@answer.Text</label>
                                                <span class="RadioInput">
                                                    @Html.RadioButton(Model.Question.Id.ToString(), answer.Id.ToString(), new { @id = answer.Id })
                                                </span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        }
                        <button style="float:left" class="btn btn-success PreviousButton">Previous</button>
                        <button style="text-align:center;" class="btn btn-success CloseButton">Close</button>
                        <button style="float:right" class="btn btn-success NextButton">Next</button>
                    </div>
                    <div style="text-align: center;"><button type="submit" class="btn btn-success SaveButton">Save Test</button></div>
                }
            }

        }
    }
    <script type="text/javascript">
        window.addEventListener('beforeunload', function (e) {
            e.preventDefault();
            e.returnValue = '';
        });

        function selected(data) {
            let isCheked = document.getElementById(data).checked;

            if (isCheked == false) {
                document.getElementById(data).checked = true;
            }


        }
    </script>



</div>

